services:
  nobreak-nut:
    container_name: nobreak-nut
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    stdin_open: true
    tty: true
    devices:
#      - /dev/ttyACM0:/dev/ttyACM0
      - /dev/ttyUSB0:/dev/ttyUSB0
#    ports:
#      - "3493:3493"
    network_mode: host
    volumes:
      - ./config:/config:ro
    environment:
      - UPS_PROFILE=sms   # or tsshara
    healthcheck:
#      test: ["CMD", "upsc", "tsshara", "ups.status"]
      test: ["CMD", "upsc", "sms", "ups.status"]
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 1m00s
